flows.json
[{"id":"c53e8958712b3346","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3ca66f4f1e94606f","type":"mqtt-broker","name":"MQTT Broker Mosquito","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"9bc8b18680925ab4","type":"telegram bot","botname":"weather_report_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","addressfamily":"","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"723ce1e01c558bbb","type":"mqtt in","z":"c53e8958712b3346","name":"MQTT in incidencias (sub)","topic":"incidencias/reporte","qos":"2","datatype":"auto-detect","broker":"3ca66f4f1e94606f","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":1300,"wires":[["a5522752136e665c","882d0ced962daad6","2407cfd98e2a81c6"]]},{"id":"cae9d444fd4b996b","type":"mqtt out","z":"c53e8958712b3346","name":"MQTT out incidencias (pub)","topic":"ciudad/incidencias","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3ca66f4f1e94606f","x":1000,"y":120,"wires":[]},{"id":"b61c0e5744a17356","type":"inject","z":"c53e8958712b3346","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":1,\"categoria\":\"Semáforo Roto\",\"ubicacion\":\"Calle 15, San José\",\"descripcion\":\"Semáforo fuera de servicio\"}","payloadType":"json","x":750,"y":120,"wires":[["cae9d444fd4b996b"]]},{"id":"943ff5fde1b33d12","type":"http request","z":"c53e8958712b3346","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?lat=44.34&lon=10.99&appid=d6ba73e994a9e15562f4c237f49b33b2&units=metric","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":490,"y":200,"wires":[["24069a928ac8820d"]]},{"id":"24069a928ac8820d","type":"json","z":"c53e8958712b3346","name":"","property":"payload","action":"","pretty":false,"x":650,"y":200,"wires":[["cae9d444fd4b996b"]]},{"id":"bf0f3eada71ea40b","type":"inject","z":"c53e8958712b3346","name":"Make request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":200,"wires":[["943ff5fde1b33d12"]]},{"id":"fbbca3e5c8dca424","type":"mqtt in","z":"c53e8958712b3346","name":"Sub coordenadas","topic":"app/coordenadas","qos":"2","datatype":"auto-detect","broker":"3ca66f4f1e94606f","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":360,"wires":[["1c6188e396749e87"]]},{"id":"1c6188e396749e87","type":"function","z":"c53e8958712b3346","name":"Build weather API URL","func":"const lat = msg.payload.lat;\nconst lon = msg.payload.lon;\n\nconst apiKey = \"d6ba73e994a9e15562f4c237f49b33b2\";\n\nmsg.url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${apiKey}&units=metric`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["064342671776cb16"]]},{"id":"064342671776cb16","type":"http request","z":"c53e8958712b3346","name":"Request Open Weather Map","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":740,"y":360,"wires":[["7f8fd65f75c22159"]]},{"id":"7f8fd65f75c22159","type":"json","z":"c53e8958712b3346","name":"","property":"payload","action":"obj","pretty":false,"x":970,"y":360,"wires":[["3a25d0ac3c0b07d1"]]},{"id":"3a25d0ac3c0b07d1","type":"debug","z":"c53e8958712b3346","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":360,"wires":[]},{"id":"c6d9854bf9e76b7a","type":"mqtt in","z":"c53e8958712b3346","name":"Sub dispositivos","topic":"app/dispositivos","qos":"2","datatype":"auto-detect","broker":"3ca66f4f1e94606f","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":580,"wires":[[]]},{"id":"3c7d2c553fd4177b","type":"worldmap","z":"c53e8958712b3346","name":"Reportes en tiempo real","lat":"9.934739","lon":"-84.087502","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"true","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN","maplist":"OSMG,OSMC,EsriC,EsriS,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":950,"y":1300,"wires":[]},{"id":"0b95b49c64730332","type":"telegram sender","z":"c53e8958712b3346","name":"Weather report bot output","bot":"9bc8b18680925ab4","haserroroutput":true,"outputs":2,"x":1750,"y":720,"wires":[[],[]]},{"id":"9c1b99d1d94449a6","type":"function","z":"c53e8958712b3346","name":"Build OpenCageData Request","func":"// Verificar si el mensaje contiene el comando y contenido esperado\nif (!msg.payload.content) {\n    node.error(\"El mensaje no contiene contenido válido.\");\n    return null;\n}\n\n// Dividir el contenido del mensaje\nconst parts = msg.payload.content.split(' ');\n\n// Extraer la ciudad\nconst city = parts.slice(1).join(' ').trim();\nif (!city) {\n    msg.payload = \"Por favor, especifica una ciudad. Ejemplo: /clima San José\";\n    return msg;\n}\n\n// Verificar si el chat ID está presente en el mensaje\nif (!msg.payload || !msg.payload.chatId) {\n    node.error(\"No se encontró chatId en el mensaje.\");\n    return null;\n}\n\n// Extraer el chat ID\nmsg.chatId = msg.payload.chatId;\n\n// Preparar el mensaje para la API de geocodificación\nmsg.city = city;\n\n\nconst apiKey = '65b0c919e233434a90be008d3b35296c';\nmsg.url = `https://api.opencagedata.com/geocode/v1/json?q=${encodeURIComponent(city)}&key=${apiKey}`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":720,"wires":[["1d781a8212c4e464"]]},{"id":"1d781a8212c4e464","type":"http request","z":"c53e8958712b3346","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":830,"y":720,"wires":[["1edd5e068eea1042","776cd9dc0642b1e6"]]},{"id":"1edd5e068eea1042","type":"function","z":"c53e8958712b3346","name":"Extraer lat/lon","func":"// Verificar si hay resultados en la respuesta del API\nif (!msg.payload || !msg.payload.results || msg.payload.results.length === 0) {\n    msg.payload = \"No se encontraron coordenadas para la ciudad especificada.\";\n    return msg;\n}\n\n// Seleccionar el primer resultado (puedes usar lógica más avanzada si lo necesitas)\nconst result = msg.payload.results[0];\n\n// Extraer las coordenadas\nconst lat = result.geometry.lat;\nconst lon = result.geometry.lng;\n\nconst weatherApiKey = 'd6ba73e994a9e15562f4c237f49b33b2';\nmsg.url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${weatherApiKey}&units=metric`;\n\n// Adjuntar información adicional para la respuesta\nmsg.location = {\n    city: result.formatted, // Nombre formateado de la ciudad\n    lat: lat,\n    lon: lon\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":720,"wires":[["86954bee2f71c5a9"]]},{"id":"86954bee2f71c5a9","type":"http request","z":"c53e8958712b3346","name":"Request Open Weather Map","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1240,"y":720,"wires":[["dcc90e990c5be81f","243b8802307c09ca"]]},{"id":"dcc90e990c5be81f","type":"function","z":"c53e8958712b3346","name":"Build weather output","func":"const weather = msg.payload; // Respuesta de OpenWeatherMap\nconst location = msg.location; // Información adicional de la ciudad, pasada del flujo anterior\n\n// Extraer datos importantes\nconst temperatura = weather.main.temp;\nconst sensacion = weather.main.feels_like;\nconst humedad = weather.main.humidity;\nconst descripcion = weather.weather[0].description; // Descripción del clima\nconst viento = weather.wind.speed;\nconst nubes = weather.clouds.all;\n\n// Construir el mensaje\nconst message = `Clima en ${location.city}:\\n` +\n    `🌡️ Temperatura: ${temperatura}°C (Sensación: ${sensacion}°C)\\n` +\n    `💧 Humedad: ${humedad}%\\n` +\n    `🌬️ Viento: ${viento} m/s\\n` +\n    `☁️ Nublado: ${nubes}%\\n` +\n    `📖 Descripción: ${descripcion}`;\n\n// Preparar el payload para el nodo Telegram Sender\nmsg.payload = {\n    chatId: msg.chatId, // ID del chat donde se enviará el mensaje\n    type: \"message\",    // Tipo de mensaje\n    content: message    // Contenido del mensaje\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":720,"wires":[["0b95b49c64730332"]]},{"id":"4c058f1cae224b3e","type":"telegram command","z":"c53e8958712b3346","name":"Clima command","command":"/clima","description":"Clima command","registercommand":true,"language":"","scope":"default","bot":"9bc8b18680925ab4","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":300,"y":720,"wires":[["9c1b99d1d94449a6","273b8bb8c6017b31"],[]]},{"id":"a01e9117a74a688b","type":"telegram command","z":"c53e8958712b3346","name":"Calidad aire command","command":"/calidad_aire","description":"Calidad aire command","registercommand":true,"language":"","scope":"default","bot":"9bc8b18680925ab4","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":340,"y":1020,"wires":[["007c0d0c5ff357c0","2510d48fffb6cec8"],[]]},{"id":"007c0d0c5ff357c0","type":"function","z":"c53e8958712b3346","name":"Build PurpleAPI request","func":"const apiKey = '3ADCB955-AB92-11EF-A261-42010A80000F'; // Cambia esto por tu API Key\nconst sensorId = 24225; // Cambia esto si necesitas otro sensor\n\n// Construir la URL de PurpleAir\nmsg.url = `https://api.purpleair.com/v1/sensors/${sensorId}?api_key=${apiKey}`;\nmsg.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1020,"wires":[["40ffb8a4383eadad"]]},{"id":"2510d48fffb6cec8","type":"debug","z":"c53e8958712b3346","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1080,"wires":[]},{"id":"40ffb8a4383eadad","type":"http request","z":"c53e8958712b3346","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":890,"y":1020,"wires":[["ffe828dfe9b0166a","f50090b5a4e34706"]]},{"id":"ffe828dfe9b0166a","type":"function","z":"c53e8958712b3346","name":"Process PurpleAPI response","func":"// Extraer datos importantes de la respuesta\nconst sensor = msg.payload.sensor;\n\nconst nombre = sensor.name;\nconst ubicacion = `Latitud: ${sensor.latitude}, Longitud: ${sensor.longitude}`;\nconst temperatura = (sensor.temperature - 32) * 5 / 9; // Convertir a °C\nconst humedad = sensor.humidity;\nconst pm25 = sensor[\"pm2.5\"]; // Usar corchetes para acceder a propiedades con nombres especiales\nconst calidadAire = sensor.stats[\"pm2.5_24hour\"]; // Usar corchetes también aquí\n\n// Construir el mensaje\nmsg.payload = {\n    chatId: msg.chatId, // ID del chat del usuario\n    type: \"message\",\n    content: `🌍 **Calidad del Aire** - ${nombre}\\n\\n` +\n        `📍 Ubicación: ${ubicacion}\\n` +\n        `🌡️ Temperatura: ${temperatura.toFixed(1)}°C\\n` +\n        `💧 Humedad: ${humedad}%\\n` +\n        `🌫️ PM2.5 (Promedio 24h): ${calidadAire} µg/m³\\n` +\n        `📖 Nivel Instantáneo: ${pm25} µg/m³`\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1020,"wires":[["15cb68b9a4189fc0"]]},{"id":"15cb68b9a4189fc0","type":"telegram sender","z":"c53e8958712b3346","name":"Calidad aire output","bot":"9bc8b18680925ab4","haserroroutput":true,"outputs":2,"x":1450,"y":1020,"wires":[[],[]]},{"id":"f50090b5a4e34706","type":"debug","z":"c53e8958712b3346","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":1080,"wires":[]},{"id":"273b8bb8c6017b31","type":"debug","z":"c53e8958712b3346","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":780,"wires":[]},{"id":"776cd9dc0642b1e6","type":"debug","z":"c53e8958712b3346","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":800,"wires":[]},{"id":"243b8802307c09ca","type":"debug","z":"c53e8958712b3346","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":820,"wires":[]},{"id":"a5522752136e665c","type":"function","z":"c53e8958712b3346","name":"Validate input","func":"// Validar los datos recibidos\nconst incidencia = msg.payload;\n\nif (!incidencia.tipo || !incidencia.descripcion || !incidencia.lat || !incidencia.lon) {\n    node.error(\"Datos incompletos en el mensaje MQTT\", msg);\n    return null;\n}\n\n// Construir mensaje para el mapa\nmsg.payload = {\n    name: incidencia.tipo,\n    lat: incidencia.lat,\n    lon: incidencia.lon,\n    layer: \"Incidencias\",\n    icon: \"fa-exclamation-circle\", // Ícono del mapa\n    iconColor: \"red\",\n    msg: incidencia.descripcion\n};\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1300,"wires":[["3c7d2c553fd4177b","cd15810ca93ad021"]]},{"id":"882d0ced962daad6","type":"debug","z":"c53e8958712b3346","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1440,"wires":[]},{"id":"9041448268b179b9","type":"telegram sender","z":"c53e8958712b3346","name":"Send incidencia","bot":"9bc8b18680925ab4","haserroroutput":true,"outputs":2,"x":960,"y":1420,"wires":[[],[]]},{"id":"2407cfd98e2a81c6","type":"function","z":"c53e8958712b3346","name":"Telegram output builder","func":"// Validar los datos recibidos\nconst incidencia = msg.payload;\n\n// Construir mensaje para Telegram\nmsg.payload = {\n    chatId: \"205139206\", // Reemplazar con el ID del chat o grupo del bot\n    type: \"message\",\n    content: `🚨 **Nueva Incidencia Reportada**\\n\\n` +\n        `📍 Ubicación: Lat ${incidencia.lat}, Lon ${incidencia.lon}\\n` +\n        `📑 Tipo: ${incidencia.tipo}\\n` +\n        `📝 Descripción: ${incidencia.descripcion}\\n` +\n        `👤 Reportado por: ${incidencia.usuario}`\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1420,"wires":[["9041448268b179b9"]]},{"id":"cd15810ca93ad021","type":"debug","z":"c53e8958712b3346","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":1360,"wires":[]}]